In [1]:
from sensor.data_access.sensor_data import SensorData

In [2]:
sd=SensorData()

In [3]:
sd.export_collection_as_dataframe(collection_name="sensor")

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,912384,NaN,NaN,NaN,NaN,NaN,0,0,0,...,7958290,3800292,8566444,8613822,5996898,2777986,2539192,49268,NaN,NaN
1,pos,176346,0,6982,5922,0,0,0,0,65836,...,2428526,720862,1189150,1710512,1018248,626354,32208,0,0,0
2,pos,460990,0,3322,212,0,0,0,1094,63812,...,864476,336864,820060,1116896,2489538,1271120,41198,20,0,0
3,pos,470022,NaN,NaN,NaN,0,0,34,34864,729294,...,6131560,2987872,5997906,5151240,2067400,329446,13582,0,0,0
4,pos,64952,0,1272,902,0,0,0,3268,186684,...,621934,222504,475288,553688,420948,470258,12530,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36183,neg,214,NaN,24,24,0,0,0,0,0,...,1826,928,1338,946,2380,1304,72,0,0,0
36184,neg,60898,NaN,0,NaN,0,0,0,0,0,...,668548,438814,960254,423884,183330,73504,52558,12,0,0
36185,neg,12,4,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36186,neg,6078,NaN,52,46,0,0,0,0,0,...,20474,12750,52018,190226,3504,28,14,0,0,0
36187,neg,39308,NaN,452,374,0,0,0,0,0,...,312426,161694,323438,292350,250112,157636,234932,9506,0,0

In [4]:
sd.mongo_client.database.list_collection_names()

['sensor']

In [8]:
import os

In [9]:
os.getenv('MONGO_DB_URL')